    .site-header {
        background-color: #191919;
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #191919;
        padding: 10px 20px;
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .logo-img {
        max-height: 70px;
        object-fit: contain;
        margin-top: 5px;
        margin-left: 50px;
    }

    .right-section {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .search-container {
        background-color: #2a2a2a;
        border-radius: 20px;
        padding: 5px 15px;
    }

    #search-input {
        background: transparent;
        border: none;
        color: white;
        width: 200px;
        padding: 5px;
        outline: none;
    }

    #search-button {
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        padding: 0;
        font-size: 1rem;
    }

    .avatar-img {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
        margin-left: 20px;
    }


    /* Pantallas pequeñas */

    @media (max-width: 576px) {
        .site-header {
            flex-direction: column;
            align-items: flex-start;
            padding: 10px;
        }

        .logo-img {
            max-height: 40px;
            margin-left: 0;
            margin-bottom: 10px;
        }

        .right-section {
            width: 100%;
            justify-content: space-between;
        }

        .search-container {
            display: flex;
            align-items: center;
            width: auto;
            padding: 5px 10px;
        }

        #search-input {
            width: 120px;
        }

        #search-button {
            margin-left: 5px;
        }

        .avatar-img {
            height: 10px;
            width: 10px;
            border-radius: 100%;
        }
    }