    .site-header {
        background-color: #191919;
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #191919;
        padding: 10px 20px;
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .logo-img {
        max-height: 70px;
        object-fit: contain;
        margin-top: 5px;
        margin-left: 50px;
    }

    .right-section {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .search-container {
        background-color: #2a2a2a;
        border-radius: 20px;
        padding: 5px 15px;

        font-size: 14px;
        font-weight: 500;
        font-family: 'Gantari';
        color: var(--white);

        transition:
            border 0.55s cubic-bezier(0.33, 1, 0.68, 1),
            transform 0.55s cubic-bezier(0.33, 1, 0.68, 1),
            box-shadow 0.55s cubic-bezier(0.33, 1, 0.68, 1);
    }

    .search-container:hover {
        border: 1px solid #d0b3ff;
        transform: translateY(-0.5px) scale(1.008);
        box-shadow: 0 4px 12px rgba(208, 179, 255, 0.15);
    }

    #search-input {
        background-color: #2a2a2a;
        border: none;
        width: 200px;
        padding: 5px;
        outline: none;

        font-size: 16px;
        font-weight: 300;
        font-family: 'Gantari' !important;
        color: var(--white);
    }


    #search-button {
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        padding: 0;
        font-size: 1rem;
    }



    .avatar-img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
        margin-left: 20px;
    }


    /* Pantallas pequeñas */

    @media (max-width: 576px) {
        .site-header {
            flex-direction: column;
            align-items: flex-start;
            padding: 10px;
        }

        .logo-img {
            max-height: 40px;
            margin-left: 0;
            margin-bottom: 10px;
        }

        .right-section {
            width: 100%;
            justify-content: space-between;
        }

        .search-container {
            display: flex;
            align-items: center;
            width: auto;
            padding: 5px 10px;
        }

        #search-input {
            width: 120px;
        }

        #search-button {
            margin-left: 5px;
        }

        .avatar-img {
            height: 20px;
            width: 20px;
            border-radius: 100%;
        }
    }