{% load static %}

<header class="site-header">
    <div class="logo-container">
        <a href="{% url 'home' %}">
            <img src="{% static 'img/logo_filmbox.png' %}" alt="Logo" class="logo-img">
        </a>
    </div>

    <div class="right-section">
        <div class="search-container">
            <input type="text" id="search-input" placeholder="Search" style="font-family: Arial;">
            <button id="search-button">
                <i class="bi bi-search"></i>
            </button>
        </div>
        <div class="profile-container">
            <a href="{% url 'perfil_user' %}">
                <img src="{% static 'usuarios/img/avatar.png' %}" alt="Avatar" class="avatar-img">
            </a>

        </div>
    </div>
</header>

<script>
    document.getElementById('search-button').addEventListener('click', function () {
        const query = document.getElementById('search-input').value.trim();
        if (query) {
            window.location.href = `/search?q=${encodeURIComponent(query)}`;
        }
    });

    document.getElementById('search-input').addEventListener('keypress', function (e) {
        if (e.key === 'Enter') {
            document.getElementById('search-button').click();
        }
    });
</script>