{% extends "base/base.html" %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block extra_css %}
<style>
    :root {
        --bg: #191919;
        --panel: #262626;
        --accent: #e9dff0;
        --muted: #bdbdbd;
    }

    * {
        box-sizing: border-box
    }

    html,
    body {
        height: 100%;
    }

    body {
        margin: 0;
        font-family: 'Gantari';
        background: var(--bg);
        color: var(--accent);
    }

    main {
        /* padding: 28px 20px 60px; */
        padding: 0 0 60px;
    }

    h2 {
        font-family: 'Exo 2';
        font-size: 28px;
        font-weight: 600;
        margin-top: 20px;
    }

    h3 {
        color: white;
        padding: 12px 18px;
        margin: 18px auto;
        font-family: 'Exo 2';
        font-weight: 900;
        font-size: 70px;
        line-height: 1;
        display: inline-flex;
        align-items: center;
        gap: 10px;
        text-align: center;
        justify-content: center;
    }

    /* SECCIÓN DESTACADA */
    .destacada {
        position: relative;
        padding: 120px 20px 120px;
        overflow: hidden;
        width: 100%;
    }

    .destacada-bg {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 30%;
        z-index: 0;
        pointer-events: none;
    }

    .destacada-inner {
        position: relative;
        z-index: 1;
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: minmax(280px, 1.1fr) minmax(260px, 0.9fr);
        gap: 40px;
        align-items: center;

    }

    .destacada-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }

    /* TÍTULO Y SINOPSIS */
    .destacada-title {
        font-family: 'Exo 2', sans-serif;
        font-size: 70px;
        font-weight: 800;
        line-height: 1.02;
        margin: 0 0 20px;
        color: #ffffff;
    }

    .destacada-sinopsis {
        font-size: 1.05rem;
        line-height: 1.5;
        margin: 0 0 28px;
        color: rgba(255, 255, 255, 0.92);
        max-width: 660px;
    }

    /* BOTÓN DE VER DETALLES */
    .destacada-btn {
        font-family: 'Exo 2';
        font-weight: 400;
        font-size: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        background: #6E32D5;
        color: var(--white);
        border-radius: 8px;
        border: 0;
        text-decoration: none;
        font-weight: 700;
        letter-spacing: 0.5px;
        width: fit-content;
        transition: transform 0.6s ease, background 0.3s ease, box-shadow 0.3s ease;
    }

    .destacada-btn:hover {
        background: linear-gradient(100deg, #6E32D5 0%, #6C00FA 100%);
        color: var(--white);
        box-shadow: 0 4px 15px rgba(124, 58, 237, 0.4);
        transform: translateY(-2px) scale(1.05);
    }

    /* PÓSTER DESTACADO */
    .destacada-poster {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .destacada-poster img {
        width: 100%;
        max-width: 340px;
        /* max-width: 320px; */
        aspect-ratio: 2 / 3;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0 28px 60px rgba(0, 0, 0, 0.35);
    }

    /* BOTÓN BANNER */
    /* .destacada-banner{} */
    .destacada-banner img {
        width: 100%;
        display: block;
        border-radius: 24px;
        object-fit: cover;
    }

    /* BOTÓN CATALOGO */
    .tarjeta-catalogo {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        /* background: linear-gradient(100deg, #D9BDFE 0%, #cca5ff 100%); */
        background: linear-gradient(100deg, #2e2e2e 0%, #262626 100%);
        padding: 40px 40px;
        border-radius: 12px;
        max-width: 900px;
        margin: 60px auto;
        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
    }

    .tarjeta-catalogo-p {
        font-size: 16px;
        line-height: 1.5;
        color: white;
        text-align: center;
        margin-top: 16px;
        padding-left: 20px;
        padding-right: 20px;
    }

    /* BOTÓN CATALOGO */
    .catalogo-btn-wrap {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }

    .catalogo-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 70px;
        background-color: #6E32D5;
        color: white;
        font-family: "Exo 2";
        font-size: 30px;
        font-weight: 600;
        border-radius: 10px;
        text-decoration: none;
        transition: 0.25s ease;
        letter-spacing: 0.5px;
    }

    .catalogo-btn:hover {
        background: linear-gradient(100deg, #6E32D5 0%, #6C00FA 100%);
        color: white;
        transform: translateY(-2px);
        box-shadow: 0 6px 18px rgba(124, 58, 237, 0.35);
    }


    /* GÉNEROS POPULARES */
    .generos-populares {
        margin: 50px;
        text-align: center;
    }

    .generos-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        padding: 20px 130px 20px 130px;
    }

    .genero-card {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 140px;
        border-radius: 10px;
        font-family: 'Exo 2';
        font-weight: 700;
        font-size: 40px;
        color: white;
        text-decoration: none;
        transition: transform 0.2s ease, opacity 0.2s ease;
    }

    .genero-card:hover {
        transform: scale(1.05);
        opacity: 0.9;
    }

    /* Colores por género */
    .fantasia {
        background: #ef233c;
    }

    .fantasia:hover {
        background: linear-gradient(100deg, #ef233c 0%, #780000 100%)
    }

    .comedia {
        background: #ffb400;
    }

    .comedia:hover {
        background: linear-gradient(100deg, #ffb400 0%, #ffa500 100%)
    }

    .romance {
        background: #FF6EB0
    }

    .romance:hover {
        background: linear-gradient(100deg, #FF6EB0 0%, #FF3897 100%);
    }

    .drama {
        background: #0B478F;
    }

    .drama:hover {
        background: linear-gradient(100deg, #0B478F 0%, #002854 100%)
    }

    .suspense {
        background: #FF761F;
    }

    .suspense:hover {
        background: linear-gradient(100deg, #FF761F 0%, #BF4B00 100%)
    }

    .aventura {
        background: #3cb371;
    }

    .aventura:hover {
        background: linear-gradient(100deg, #3cb371 0%, #289459 100%)
    }


    /* RESPONSIVIDAD PARA PANTALLAS MÁS PEQUEÑAS */
    @media (max-width: 1024px) {

        .destacada-inner {
            grid-template-columns: 1fr 0.9fr;
            gap: 25px;
            max-width: 900px;
        }

        .destacada-title {
            font-size: 52px;
        }

        .destacada-sinopsis {
            font-size: 0.95rem;
        }

        .destacada-poster img {
            max-width: 300px;
        }


        .tarjeta-catalogo {
            padding: 30px 30px;
            max-width: 700px;
        }

        .tarjeta-catalogo-p {
            font-size: 15px;
            padding: 0 15px;
        }

        .catalogo-btn {
            width: 300px;
            height: 60px;
            font-size: 26px;
        }

        .generos-grid {
            grid-template-columns: repeat(2, 1fr);
            padding: 20px 60px;
        }

        .genero-card {
            font-size: 32px;
            height: 130px;
        }
    }


    @media (max-width: 768px) {


        .destacada {
            padding: 80px 20px;
        }

        .destacada-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 25px;
        }

        .destacada-text {
            text-align: center;
            align-items: center;
        }

        .destacada-title {
            font-size: 40px;
            margin-bottom: 10px;
        }

        .destacada-sinopsis {
            font-size: 0.95rem;
            max-width: 90%;
            margin-bottom: 10px;
        }

        .destacada-poster {
            justify-content: center;
        }

        .destacada-poster img {
            max-width: 260px;
        }

        .destacada-btn {
            width: 100%;
            max-width: 260px;
            justify-content: center;
            font-size: 22px;
        }

        .tarjeta-catalogo {
            padding: 30px 20px;
            margin: 40px 30px;
            max-width: 100%;
        }

        .tarjeta-catalogo-p {
            font-size: 16px;
            padding: 0 10px;
        }

        .catalogo-btn {
            width: 100%;
            height: 60px;
            font-size: 22px;
            padding: 20px;
        }


        .generos-grid {
            grid-template-columns: 1fr;
            padding: 20px 20px;
        }

        .genero-card {
            font-size: 28px;
            height: 120px;
        }

        h3 {
            padding: 12px 18px;
            margin: 18px auto;
            font-weight: 800;
            font-size: 50px;
            line-height: 1;
            display: inline-flex;
            align-items: center;
            text-align: center;
            justify-content: center;

        }

    }
</style>
{% endblock %}

{% block content %}
<main>
    <!-- SECCIÓN PELÍCULA DESTACADA -->
    <section class="destacada">
        <!-- Banner -->
        <img class="destacada-bg" src="/media/posters/banner-tdwp2.jpg" alt="Banner película destacada">

        <div class="destacada-inner">
            <div class="destacada-text">
                <h2 class="destacada-title">{{ destacada.titulo }}</h2>
                <p class="destacada-sinopsis">{{ destacada.sinopsis }}</p>
                <a class="destacada-btn" href="{% url 'pelicula' destacada.id %}">VER DETALLES</a>
            </div>

            <div class="destacada-poster">
                <img class="destacada-poster-img" src="{{ destacada.poster.url }}"
                    alt="Póster de {{ destacada.titulo }}">
            </div>
        </div>
    </section>

    <!-- TARJETA CATALOGO PELÍCULAS -->
    <div class="tarjeta-catalogo">
        <i class="bi bi-film" style="font-size: 40px;"></i>

        <h2>Explora nuestro catálogo de películas</h2>
        <p class="tarjeta-catalogo-p">Descubre una amplia selección de películas para todos los gustos. Desde clásicos
            atemporales hasta los últimos estrenos, nuestro catálogo tiene algo para cada cinéfilo.</p>

        <!-- Botón Catálogo -->
        <div class="catalogo-btn-wrap">
            <a href="{% url 'catalogo' %}" class="catalogo-btn">
                VER CATÁLOGO
                <i class="bi bi-arrow-right" style="font-size: 30px; margin-left: 20px;"></i>
            </a>
        </div>
    </div>


    <!-- SECCIÓN GÉNEROS POPULARES -->
    <section class="generos-populares">
        <h3>GÉNEROS POPULARES</h3>

        <div class="generos-grid">

            <a href="{% url 'catalogo' %}?genero=Fantasía" class="genero-card fantasia">
                <span>Fantasía</span>
            </a>

            <a href="{% url 'catalogo' %}?genero=Comedia" class="genero-card comedia">
                <span>Comedia</span>
            </a>

            <a href="{% url 'catalogo' %}?genero=Romance" class="genero-card romance">
                <span>Romance</span>
            </a>

            <a href="{% url 'catalogo' %}?genero=Drama" class="genero-card drama">
                <span>Drama</span>
            </a>

            <a href="{% url 'catalogo' %}?genero=Suspense" class="genero-card suspense">
                <span>Suspense</span>
            </a>

            <a href="{% url 'catalogo' %}?genero=Aventura" class="genero-card aventura">
                <span>Aventura</span>
            </a>

        </div>
    </section>




</main>

<script>
</script>
{% endblock %}